amqp==2.2.2
billiard==3.5.0.3
celery==4.1.0
certifi==2017.11.5
chardet==3.0.4
Django==1.11.6
djangorestframework==3.7.0
html5lib==1.0b10
httplib2==0.10.3
idna==2.6
kombu==4.1.0
olefile==0.44
Pillow==8.1.1
PyPDF2==1.26.0
pytz==2017.2
reportlab==3.4.0
requests==2.18.4
selenium==3.6.0
six==1.11.0
twocaptchaapi==0.3
urllib3==1.22
vine==1.1.4
virtualenv==15.1.0
webencodings==0.5.1
xhtml2pdf==0.2b1
